<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h3 class="display-6 mb-4">Vocabulary building, from the inside out</h3>
      <p class="lead mb-4">
      For language learners who don’t need more random things to memorize — just the words to finish their own sentences. <br>
      No frequency lists, no hypothetical dialogues. Just the real gaps in your own voice. <br>
      </p>
      
      <% if user_signed_in? %>
        <div class="d-grid gap-2 d-md-block">
          <%= link_to "New Journal Entry", new_entry_path, class: "btn btn-primary btn-lg me-md-2" %>
          <%= link_to "View All Entries", entries_path, class: "btn btn-outline-secondary btn-lg me-md-2" %>
          <%= link_to "View Phrasebook", phrasebook_entries_path, class: "btn btn-outline-primary btn-lg" %>
        </div>
      <% else %>
        <div class="d-grid gap-2 d-md-block">
          <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg me-md-2" %>
          <%= link_to "Sign In", new_user_session_path, class: "btn btn-outline-primary btn-lg" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
